<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>
                    %highlight{[%d{HH:mm:ss} %level]: [%logger] %replace{%msg}{\r?\n}{&#xA;&#x9;&#x9;}%n%xEx{full}}{
                    DEBUG=white,
                    INFO=normal,
                    WARN=bright_yellow,
                    ERROR=bright_red
                    }
                </Pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="File"
                     fileName="logs/latest.log"
                     filePattern="logs/%d{yyyy-MM-dd_HH-mm-ss}.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss} %level]: [%logger] %replace{%msg}{\r?\n}{&#xA;&#x9;&#x9;}%n%xEx{full}" />

            <Policies>
                <OnStartupTriggeringPolicy />
            </Policies>

            <DefaultRolloverStrategy max="15"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>